body {
    display: flex;
    justify-content: center;
    padding: 10;
    /* background-color:darkorchid; */
}
image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

div.player {
    border: solid;
}