body {
    display: flex;
    justify-content: center;
    padding: 10;
    /* background-color:darkorchid; */
}


/* div.player {
    border: solid;
    background-color: rgba(10, 10, 10, .5);
} */

.button {
    background-color: orange;
    border: solid;
    border-radius: 10;
}

.search {
    /* background-color: hotpink; */
    border: solid;
    box-shadow: 10px;
}